<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>{{mixture.project_name}}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
  ================================================== -->
    {{ 'style.min.css' | asset_url | stylesheet_tag }}
    <link rel="stylesheet" href="//f.fontdeck.com/s/css/uH5+KWQnibDTJRYggGJ9XZLTAgw/localhost/37175.css" type="text/css" />

    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">

    <!-- jQuery
    ================================================== -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>


</head>
<body>
    
    <!-- Primary Page Layout
    ================================================== -->

        <!-- Include -->
        {% include "header" %}
        <!-- Content block, child page inject content -->
        {% block content %}{% endblock %}        

    <!-- JS
    ================================================== -->
    {% block scripts %}{% endblock %}
    {{ "app.js" | asset_url | script_tag }}

<!-- End Document
================================================== -->
</body>
</html>