<section id="footer">
	<footer>
		<div class="container">
			<div class="four columns offset-by-six">
				<p>Fin.</p>
				<a href="https://twitter.com/tomcavill" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @tomcavill</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
				<p class="muted">&copy;2013</p>
			</div>
		</div>
	</footer>
</section>