<header>
	<img src="{{ "logo-vector.svg" | asset_url }}" class="tomcavill-logo animated" />
	<!-- todo: ensure svg displays everywhere -->
	<a href="#geo" class="hamburger hamburger-action">?</a>
	<a href="#top" class="hamburger hamburger-other top">^<span>Top</span></a>
	<div class="navigation" id="nav">

		<nav class="clearfix">
			<a href="#intro" class="hidden" id="intro-tab">Home</a>
			<a href="#about" class="tab-left" id="about-tab">About</a>
			<a href="#work" class="tab-right" id="work-tab"><span>Work</span></a>
			<a href="#footer" class="hidden" id="intro-tab">footer</a>
		</nav>
		<!-- todo: mobile nav -->
	</div>
</header>