<header>
	<a href="#top" class="to-top">
	<img src="{{ "logo-vector.svg" | asset_url }}" class="tomcavill-logo" />
	<!-- todo: ensure svg displays everywhere -->
	</a>
	<a href="#links" class="hamburger">Contact</a>
	<div class="navigation" id="nav">

		<nav class="clearfix">
			<a href="#intro" class="hidden" id="intro-tab">Home</a>
			<a href="#work" class="tab-left" id="work-tab"><span>Work</span></a>
			<a href="#about" class="tab-right" id="about-tab">About</a>
		</nav>
	</div>
</header>