---
title: Alice is
published: true
date: 2013-09-15 00:00
slug: /alice-is
type: client
format: "Responsive blog"
images: [alice-is.jpg, alice-is2.png]
backgroundcss: "#d6bd8b"
role: [Design, Build, concept]
url: http://alice.is
---
<p>Alice Feaver is a chef and illustrator. She required a custom blog that would allow her to create both recipe and drawing posts.</p>

<p>I built the blog using Harmony in order that a nice URL structure could be put in place utilising the ‘alice.is’ domain (e.g. alice.is/cooking/vegetable-fritters). The site also includes hundreds of digitised recipes from Alice’s notes, and is fully responsive from desktop to mobile.</p>