---
title: Autographer
published: true
date: 2013-10-18 00:00
slug: /autographer
type: client
url: "http://share.autographer.com"
format: "Responsive web app"
backgroundcss: "#d3006f"
role: [Design, HTML, CSS, JS, Ruby on Rails, Consultancy]
images: [autographer1.png,autographer2.png]
mobile-images: [autographer3.png]
---
<p>Autographer is a wearable, intelligent camera that takes photos automatically -- a life-logging device. I worked in a consultancy, designer and developer role on the camera's companion sharing service, which enables camera owners to quickly share their photos, videos and gifs to the web and on to other social services.</p>