---
title: DSGN JBS
published: true
date: 2013-10-16 00:00
slug: /dsgn-jbs
type: Personal
role: [idea, design, build]
backgroundcss: "#ffcc00"
url: http://dsgnjbs.com
images: [dsgnjbs-full.jpg]
mobile-images: [dsgnjbs-phone.jpg]
---
<p>Dsgn Jbs is a personal project, born out of frustration (or perhaps laziness).</p>

<p>I regularly check the various design job boards, but opening each after the other is a bit laborious. So, instead, I used IFTT to amalgamate various RSS feeds into one Twitter stream (@dsgnjbs), and then created a responsive site to show off the stream.</p>