---
title: Forking Knife
published: true
date: 2013-10-10 00:00
slug: /forking-knife
type: personal
url: "http://forkingknife.com"
format: "Responsive blog"
backgroundcss: "#eeeeee"
role: [Design, HTML, CSS, writing, concept]
images: [forkingknife.png, forkingknife2.gif]
---
<p>Repsonsive, art-directed food blog with a focus on the London restaurant scene.</p>

<p>Reviews are written and designed by me, with Alice Feaver providing the illustration.</p>