---
title: Hasty
published: true
date: 2013-09-15 00:00
slug: /hasty
type: client
format: "iOS app"
images: [hasty_1.png, hasty_2.png]
backgroundcss: "#e2ded6"
role: [Design, Consultancy]
longdesc: "I helped San Francisco based Hasty with the first version of their iOS app, and to prepare for their YC interviews. The app enables health conscious people to order takeout, filtered by nutritional value."
---
<li>{{ "hasty_1.png" | asset_url }}</li>
<li>{{ "hasty_2.png" | asset_url }}</li>