---
title: Hasty
published: true
date: 2013-10-15 00:00
slug: /hasty
type: client
format: "iOS app"
mobile-images: [hasty.jpg]
backgroundcss: "#e2ded6"
role: [Design, Consultancy]
---
<p>I helped San Francisco-based Hasty with the early versions of their iOS app, as they raised seed funding. The app enables health conscious individuals to order takeout, filtered by nutritional value.</p>