---
title: Helvetitee
published: true
date: 2013-10-17 00:00
slug: /helvetitee
type: Personal
role: [idea, design, front-end]
backgroundcss: "#33e1d0"
url: "http://helvetitee.com"
images: [helvetitee-full.jpg, helvetitee-press.jpg]
---
<p>Helvetitee was the result of a four-day hack by developer Chico Charlesworth and I. We wanted to create a product that would gain traction virally, but be as simple and quick to develop as possible.</p>

<p>Tshirt sites are often bloated, whereas Helvetitee offers no options -- ”the ultimate hipster accessory” as one blogger called it. We were featured on the Hacker News front page, Design Milk, Coudal.com, Inqmind, SiteInspire and many more.</p>