---
title: MyBuilder
published: true
date: 2013-10-08 00:00
slug: /mybuilder
type: Client
role: [Art direction]
backgroundcss: "#DDEF7F"
images: [mybuilder.png]
---
<p>MyBuilder is a London startup success story, but felt they weren't making the most of their unrivalled customer satisfaction levels. Founder Ryan approached me to art-direct a new homepage that better told the story of their brilliant product, and the thousands of tradesmen that depend upon it for their livelihoods. Additional design and development by Will Thomas.</p>