---
title: Readwave
published: true
date: 2013-08-07 00:00
slug: /readwave
type: client
url: "http://readwave.com"
format: "Responsive web app"
backgroundcss: "#ff0055"
role: [Design, Consultancy]
images: [readwave1.png]
---
<p>I was tasked with giving ReadWave -- a place for amateur writers to upload their stories -- a complete design overhaul and to refresh their branding.</p>

<p>A more vibrant colour palette was introduced to induce feelings of excitement about the content available to readers, replacing a tired, muted blue and yellow scheme; whilst an unmissable call to action prompted would-be Rowlings to show off their ability.</p>