---
title: "Top10 Spotify App"
published: true
date: 2013-10-13 00:00
slug: /top10-spotify
type: Employment (lead designer)
role: [UI, UX, wireframing]
backgroundcss: "#d3cdc1"
images: [spotify.jpg, spotify3.jpg, spotify2.jpg]
---
<p>One of the first 12 Spotify apps, and still among the most popular today.</p>

<p>The app’s users made over one million song recommendations in the first six months. The UX received high praise in various media such as TechCrunch and GigaOm.</p>