---
title: Top10
published: true
date: 2013-10-14 00:00
slug: /top10
type: Employment (lead designer)
role: [UI, UX, html, css, wireframing]
backgroundcss: "#48abd0"
images: [top10.jpg, top10-2.png]
---
<p>I worked as Lead Designer at Top10.com from 2010 to July 2012, overseeing 3 iterations of the web app product.</p>

<p>Praise for the design came from notable industry figures such as Aarron Walter (MailChimp), Dave McClure (PayPal, 500 startups) and Nick Halstead (DataSift).</p>