{% block content %}
	<article class="home" id="intro">
	<div class="container">
		<div class="eight columns alpha">
			<h1 class="intro"><span class="typer" contenteditable="true"></span></h1>
			<noscript><h1>Tom Cavill is a product designer in London.</h1></noscript>
		</div>
	</div>
	</article>

		<article class="about" id="about">
			<div class="container">
				{% include "about" %}
			</div>
		</article>

		<article class="work" id="work">
		{% collection "work" %}
			{% include "portfolio" with collection.items %}
		{% endcollection %}
		</article>
		<!-- todo: add if statement that adds an id of work if it's the first one (for the nav) -->

		<div id="geo" class="hidden">
			<a href="#" class="hamburger-close add-bottom">&times;</a>
				<p class="muted">The pattern here is generated from my latest Foursquare checkin (currently: <span class="location-where"></span>). It displays a footprint of the buildings in the surrounding area. The idea is influenced by the artist <a href="http://www.tate.org.uk/art/artworks/coventry-east-street-estate-t12299/text-summary" title="Tate article on Keith Coventry" target="_blank">Keith Coventry</a>.</p>
			</div>
<!-- todo: animate in logo, nav etc -->

<!-- todo: add mybuilder -->

<!-- todo: add imhotep -->

<!-- todo: delete done todos -->

<!-- todo: optimise images -->
{% endblock %}

{% block scripts %}

	{{ "jquery.typer.js" | asset_url | script_tag }}

{% endblock %}